#umCourses, #davisCourses, .footnotes-header {
  display: none;
}

.mt {
  margin-top: 10px;
}

.experience dt {
  font-weight: normal;
}

.selfImage {
  position: absolute;
  right: 0;
  top: 23px;
}

div.aboutBlurb {
  padding-left: 0;
}

.mainContainer {
  padding-bottom: 15px;
}

.story p {
  text-indent: 1em;
  margin: 0;
}

.story blockquote {
  margin-bottom: 0;
  font-size: inherit;
}

.story .center {
  text-align: center;
}

.story div.thumbnail {
  margin: 10px;
}

.story div.thumbnail.center-block {
  margin-left: auto;
  margin-right: auto;
}
